.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
}

header img {
  width: 100px;
  height: 100px;
}

.Header-container__img {
  align-items: center;
}

.Header-container__data {
  margin-left: 30px;
}

.Experience__date {
  font-size: 0.9rem;
  font-weight: bold;
}

.Skills__percent,
.Languages-percent {
  font-size: 1rem;
  font-weight: bold;
  color: #8cb04d;
}
